.container{
    height: 600px;
    width: 500px;
    margin: auto;
    text-align: center;
}
#box {
    margin-top: 40px;
    font-size: 30px;
}
input{
    border-radius: 3px;
    line-height: 30px;
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
}
#id {
    margin-bottom: 10px;
}
#password {
    margin-top: 10px;
    margin-bottom: 10px;
}
#login {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}